<div class="row">
  <div class="span3">
    <h2>Recent Posts</h2>
    <ul class="recent_posts">
      {% for post in site.posts limit: site.recent_posts %}
        <li>
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <h2><a href="/blog/archives">Archives</a></h2>
  </div>
  <div class="span3">
    {% include custom/asides/instagram.html %}
  </div>
  <!-- DISABLE Twitter and Found On footer widgets for now
  <div class="span4">
    {% if false %}
    {% include asides/twitter.html %}
    {% endif %}
  </div>
  <div class="span2">
    {% if false %}
    {% include custom/asides/found_on.html %}
    {% endif %}
  -->
  <div class="span6" id="footer_notes">
    <p>
      <a href="{{ root_url }}/">{{ site.title }}</a> - Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}
    </p>
    <p>
      Powered by <a href="http://octopress.org/">Octopress</a>. Made pretty with Foxslide theme by <a href="http://www.AdrianArtiles.com">Adrian Artiles</a>. Theme heavily tweaked by me. It took forever T.T
    </p>
  </div>
</div>
